.main {
  max-width: 1363px;
  margin: 0 auto;
}

.content_wrapper {
  max-width: 50%;
  min-height: 80vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.content_wrapper h1 {
  font-family: "Rosario";
  font-weight: 700;
  font-size: 96px;
  line-height: 108x;
  text-align: center;
  color: var(--primary-color);
}

.content_wrapper p {
  font-family: "Rosario";
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: var(--gray-light);
}
